.intro-inner {
  padding-bottom: 120px;
}

.intro__p {
  margin-bottom: 64px;
  width: 760px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707076;
  line-height: 160%;
}

.figure {
  position: relative;

  width: 100%;
  height: 500px;

  background-image: url(../resources/back-room.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.figure__caption {
  /* задал позиционирование блоку caption, чтобы не нарушить BEM */
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.caption {
  padding-top: 24px;
  padding-left: 24px;

  width: 340px;
  height: 163px;

  background-color: #fff;
  border-radius: 4px;
}

.caption h2 {
  margin-bottom: 8px;

  letter-spacing: 0.08em;
}

.caption h3 {
  margin-bottom: 8px;

  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 20px;
  color: #1a1a1a;
  line-height: 26px;
}

.caption p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #707076;
  line-height: 16px;
}

@media (max-width: 1199px) {
  .intro-inner {
    padding-bottom: 100px;
  }

  .figure {
    height: 400px;
  }

  .figure__caption {
    bottom: 30px;
    left: 42px;
  }

  .intro__p {
    margin-bottom: 50px;
    width: 730px;

    font-size: 15px;
    line-height: 130%;
  }
}

@media (max-width: 767px) {
  .intro-inner {
    padding-bottom: 60px;
  }

  .intro__p {
    margin-bottom: 40px;
    width: 100%;

    line-height: 120%;
  }

  .figure {
    height: 304px;
  }

  .figure__caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .caption {
    padding-top: 14px;
    padding-left: 14px;

    width: 200px;
    height: 120px;

    background-color: #fff;
    border-radius: 4px;
  }

  .caption h2 {
    margin-bottom: 8px;

    font-size: 8px;
  }

  .caption h3 {
    margin-bottom: 8px;

    font-size: 15px;
    color: #1a1a1a;
    line-height: 16px;
  }

  .caption p {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 399px) {
  .figure {
    background-image: url(../resources/back-room_mobile.jpg);
    background-position-x: 12%;
  }
}
