@media (max-width: 767px) {
  .container {
    width: calc(100% - 24px);
    
    margin: 0 auto;
  }

  .intro-inner {
    padding-bottom: 60px;
  }

  .description-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cases-inner {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
